html, body {
        margin: 0;
        display: inline-block;
        width: 100%;
        font-family: arial;
        background: url('escheresque_ste.png');
}

#wrapper {
        width: 1000px;
        margin: 20px auto;
        padding-bottom: 50px;
        background: #fff;
        border-radius: 10px;
        border: 1px solid #CCC;
}

h1 {
        margin-bottom: 16px;
}

header {
        margin: 0 auto;
        width: 800px;
        text-align: center;
        border-bottom: 4px solid #CCC;
        margin-bottom: 24px;
}

.accordion {
        border: 4px solid #CCC;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 10px 40px 10px 40px;
        background: #FEFEFA;
}

.accordion h3 {
        margin: 0 0 8px;
}

.accordion.last {
        margin-bottom: 30px;
}

#functions {
        margin: 0 auto;
        width: 800px;
}